{% extends "base.html" %}

{% block content %}

<legend>
	<h1> {{ title }} </h1>
	<h4> {{ owner }} </h4>
</legend>

<form action="/categories/{{ title }}/{{ owner }}" method="POST">
	{% set count = 1 %}

	{% for i in items %}
		<p>
			<input type="radio" name="item" value="{{ i }}"> {{ i }} </input>
			<input type="hidden" name="{{ count }}" value="{{ i }}"></input>
		</p>
			{% set count = count + 1 %}
	{% endfor %}
	<input type="submit" class="btn btn-primary" name="vote" value="Vote!"></input>
	<input type="submit" name="skip" class="btn" value="Skip"></input>
</form>

{% if winner and loser %}
	<p>
		<br /><blockquote><em>You voted "{{ winner }}" over "{{ loser }}"</em></blockquote>
	</p>
{% endif %}
<a href="/results/{{ title }}/{{ owner }}"><small>See Results</small></a> &#183;
<a href="/export/{{ title }}/{{ owner }}"><small>Export XML</small></a>

{% endblock %}