{% extends "base.html" %}

{% block content %}
    <form method="post" id="create-form" class="form-horizontal">
        <legend>
            <h1>
                Create A Category
            </h1> 
        </legend>
        <div class="control-group">
            <label class="control-label" for="category">Category Name</label>
            <div class="controls">
                {% if xml_category %}
                    <input type="text" id="category" value="{{ xml_category }}" />
                {% else %}
                    <input type="text" id="category" placeholder="e.g. Cuisines">
                {% endif %}
            </div>
        </div>

        <div id = "dynamic-items-list">
            {% if xml_items %}
                {% set no = 1 %}
                {% for i in xml_items %}
                    <div class="control-group">
                        <label class="control-label" for="item{{ no }}">Item</label>
                        <div class="controls">
                          <input type="text" id="item{{ no }}" value = "{{ i }}"/><a href="#" onclick="delete_item({{ no }})"><small>Delete</small></a>
                        </div>
                    </div>
                    {% set no = no + 1 %}
                {% endfor %}
            {% endif %}
        </div>

        <div class="control-group">
            <div class="controls">
              <button class="btn" id="add-items-button">Add an item</button>
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
              <button class="btn btn-primary btn-large" id="create-category-button">Create Category</button>
            </div>
        </div>
    </form>
    <hr>
    <h4>... or simply import from an XML file </h4>
    <form method="post" action = "/upload" id="import-xml-form" class="form-horizontal" enctype="multipart/form-data">
        <div class="control-group">
            <div class="controls">
                <input type="file" name="xml-file" />
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <input type="submit" class="btn" id="import-xml-button" value="<Import />" />
            </div>
        </div>
    </form>

    <script>
        var itemNo = 0;
        var items = ""

        $("#add-items-button").click(function(event) {

            $("#dynamic-items-list input").each(function(){
                if (this.value == "") {
                    alert("Please fill the unfilled item(s)!");                    
                    event.preventDefault();
                    exit();
                }
            });

            itemNo = itemNo + 1;
            newItem = '\
            <div class="control-group">\
                <label class="control-label" for="item'+itemNo+'"'+'>Item</label>\
                    <div class="controls">\
                        <input type="text" id="item'+itemNo+'"'+' /> <a href="#" onclick="delete_item('+itemNo+')"><small>Delete</small></a>\
                    </div>\
                </label>\
            </div>\
            ';
            $("#dynamic-items-list").append(newItem);
            event.preventDefault();
        })


        $("#create-category-button").click(function(event) {
            items = "";
            category = $("#category").val()

            if(category == "") {
                alert("Please fill the category name!");
                event.preventDefault();
                exit();
            }

            $("#dynamic-items-list input").each(function(){
                if (this.value == "") {
                    alert("Please fill/remove the unfilled item(s)!");                    
                    event.preventDefault();
                    exit();
                }

                items = items + this.value + ",";

            });

            console.log(items);

            event.preventDefault();

            $.ajax({
                url: '/save_new_category',
                type: 'POST',
                data: {
                    items: items,
                    category: category
                }
            })
        })

        function delete_item(number) {
            $("#item"+number).parent().parent().remove()
        }

    </script>
{% endblock %}