{% extends "base.html" %}

{% block content %}
    <form method="post" id="create-form" class="form-horizontal">
        <legend>
            <h1>
                Edit Your Categories
            </h1>
            <h2>
                {{ title }}
            </h2>
        </legend>
        <div class="control-group">
            <label class="control-label" for="category">Category</label>
            <div class="controls">
                <input type="text" id="category" value="{{ title }}">
            </div>
        </div>

        <div id = "dynamic-items-list">
            {% set no = 1 %}
            {% for i in items %}
                <div class="control-group">
                    <label class="control-label" for="item{{ no }}">Item</label>
                    <div class="controls">
                      <input type="text" id="item{{ no }}" value = "{{ i.title }}"/><a href="#" onclick="delete_item({{ no }})"><small>Delete</small></a>
                    </div>
                </div>
                {% set no = no + 1 %}
            {% endfor %}
        </div>

        <div class="control-group">
            <div class="controls">
              <button class="btn" id="add-items-button">Add another item</button>
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
              <button class="btn btn-primary btn-large" id="create-category-button">Edit Category</button>
            </div>
        </div>
    </form>

    <script>
        var itemNo = {{ items.count() }};
        var items = ""

        $("#add-items-button").click(function(event) {

            $("#dynamic-items-list input").each(function(){
                if (this.value == "") {
                    alert("Please fill the unfilled item(s)!");                    
                    event.preventDefault();
                    exit();
                }
            });

            itemNo = itemNo + 1;

            newItem = '\
            <div class="control-group">\
                <label class="control-label" for="item'+itemNo+'"'+'>Item</label>\
                <div class="controls">\
                  <input type="text" id="item'+itemNo+'"'+' /><a href="#" onclick="delete_item('+itemNo+')"><small>Delete</small></a>\
                </div>\
            </div>\
            ';
            $("#dynamic-items-list").append(newItem);
            event.preventDefault();
        })


        $("#create-category-button").click(function(event) {
            items = "";
            category = $("#category").val()

            if(category == "") {
                alert("Please fill the category name!");
                event.preventDefault();
                exit();
            }

            $("#dynamic-items-list input").each(function(){
                if (this.value == "") {
                    alert("Please fill/remove the unfilled item(s)!");                    
                    event.preventDefault();
                    exit();
                }

                items = items + this.value + ",";

            });

            console.log(items);

            event.preventDefault();
            console.log("here");

            $.ajax({
                url: '/save_edited_category',
                type: 'POST',
                data: {
                    items: items,
                    category: category,
                    oldCategory: "{{ title }}"
                }
            }).success(function(data) {
                console.log(data.items)
            })
        })


        function delete_item(number) {
            $("#item"+number).parent().parent().remove()
        }

    </script>
{% endblock %}